extends layout
block title
	title Welcome!

block body
	section
		h1 Mitch Perez 
		div.container
			p.homeParaFormat.
				Hello! Thanks for checking out my personal site.
				Upon further exploration, you will find my projects, 
				passions, and experiences that define me as an individual.
				 
			img#profileImage(src='/images/self-image.png', alt = 'selfie')
			ul.qualitiesFormat
				li Thinker.
				li Dreamer.
				li Achiever.
				li Developer.
	section 
